extends layout

block content
  .grid
    .card
      .card__front
        .card__front-question-section
          p.card__front-question-section-question #{question}
        button.card__front-button-section See Answer

      .card__back.display-none 
        .card__back-answer-section
          each item in answer 
            p.card__back-answer-section-answer #{item} 
            <br/>
        button.card__back-button-section See Question
    
    .button-box
      .button-previous
        a(href=`/flashcards/${previousId}`)
          button Previous

      .button-next
        a(href=`/flashcards/${nextId}`)
          button Next
