extends layout

block content
  .section__card
    .card
      p.card__front-question #{question}
      .button__section-question
        button.button.button__see-answer See Answer

      .card__back-answer.display-none 
       each item in answer 
        p #{item}
        <br/>
      .button__section-answer.display-none
        button.button.button__see-question See Question
    .button-box


      a(href=`/flashcards/${previousId}`).button-previous
        button.button previous

      a(href=`/flashcards/${nextId}`).button-next
        button.button next
