extends layout

block content
  .color-picker
    .explanation
      h1 Choose your background theme
    .color-holder
      .color.red
      .color.orange
      .color.yellow
      .color.green
      .color.blue
      .color.indigo
      .color.violet
      .color.grey
      .color.black


  .grid
    .card
      .card__front
        .card__front-question-section
          h1.card__front-question-section-question #{question}
        .card__front-button-section
          p.absolute-position-p See Answer

      .card__back.display-none 
        .card__back-answer-section
          each item in answer 
            p.card__back-answer-section-answer #{item} 
            <br/>
        .card__back-button-section 
          p.absolute-position-p See Question
    
      .button-box
        a(href=`/flashcards/${previousId}`).button-previous 
         p.absolute-position-p Previous

        a(href=`/flashcards/${nextId}`).button-next 
          p.absolute-position-p Next
