*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: rgb(49, 48, 48);
  box-sizing: border-box;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.grid {
  display: grid;
  grid-column: 2/-2;
  grid-row: 3/-3;
  background-color: white;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  border-radius: 10px;
}

.card {
  grid-column: 2/-2;
  grid-row: 1/4;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.card__front {
  grid-column: 1/-1;
  grid-row: 2/-1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.card__front-question-section {
  overflow: scroll;
  grid-column: 1/-1;
  grid-row: 1/11;
  text-align: center;
}
.card__front-question-section-question {
  font-size: 2.3rem;
  align-self: center;
  align-self: center;
}
.card__front-button-section {
  grid-column: 1/-1;
  grid-row: 11/-1;
  background-color: rgba(0, 0, 0, 0.418);
  font-size: 2.3rem;
}

.card__back {
  grid-column: 1/-1;
  grid-row: 2/-1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.card__back-answer-section {
  overflow: scroll;
  grid-column: 1/-1;
  grid-row: 1/11;
}

.card__back-answer-section-answer {
  font-size: 2.3rem;
}

.card__back-button-section {
  grid-column: 1/-1;
  grid-row: 11/-1;
  background-color: rgba(0, 0, 0, 0.418);
  font-size: 2.3rem;
}

.button-box {
  grid-column: 2/-2;
  grid-row: 4/-2;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
}

.button-box a:link,
a:active,
a:visited {
  text-decoration: none;
  color: black;
}

.button-previous {
  grid-column: 1/7;
  grid-row: 1;
}

.button-previous a button {
  height: 100%;
  width: 100%;
  font-size: 2.3rem;
}

.button-next {
  grid-column: 7/-1;
  grid-row: 1;
}

.button-next a button {
  height: 100%;
  width: 100%;
  font-size: 2.3rem;
}

.display-none {
  display: none;
}
